<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/log">Log a Workout</a>
        <a class="nav-item nav-link" href="/view">View Workouts</a>
        <a class="nav-item nav-link" href="/sync">Sync</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/settings">Settings</a>
      </div>
    </div>
  </nav>
</header>

<main class="container">
  <div class="form-group mb-4">
    <label for="categorySelect">
      <h3>Category</h3>
    </label>
    <select class="form-control" id="categorySelect">
      <option>All</option>
      <option>Crossfit</option>
      <option>Hike</option>
      <option>Ride</option>
      <option>Run</option>
      <option>Swim</option>
      <option>Walk</option>
      <option>Other</option>
    </select>
  </div>

  {{#if crossfit}}
  <div class="row">
    <div class="col" id="crossfit">
      <h3>Crossfit</h3>
      {{#each crossfit}}
      {{>list/list}}
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if hike}}
  <div class="row">
    <div class="col" id="hike">
      <h3>Hike</h3>
      {{#each hike}}
      {{>list/list}}
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if ride}}
  <div class="row">
    <div class="col" id="ride">
      <h3>Ride</h3>
      {{#each ride}}
      {{>list/list}}
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if run}}
  <div class="row">
    <div class="col" id="run">
      <h3>Run</h3>
      {{#each run}}
      {{>list/list}}
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if swim}}
  <div class="row">
    <div class="col" id="swim">
      <h3>Swim</h3>
      {{#each swim}}
      {{>list/list}}
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if walk}}
  <div class="row">
    <div class="col" id="walk">
      <h3>Walk</h3>
      {{#each walk}}
      {{>list/list}}
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if other}}
  <div class="row">
    <div class="col" id="other">
      <h3>Other</h3>
      {{#each other}}
      {{>list/list}}
      {{/each}}
    </div>
  </div>
  {{/if}}
</main>