<header>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/log">Log a Workout</a></li>
        <li><a href="/view">View Workouts</a></li>
        <li><a href="/sync">Sync</a></li>
      </ul>
    </div>
  </nav>
</header>

<main class="container">
  <div class="row">
    <div class="input-field col s12">
      <select id="categorySelect">
        <option value="1">All</option>
        <option value="2">Crossfit</option>
        <option value="3">Hike</option>
        <option value="4">Ride</option>
        <option value="5">Run</option>
        <option value="6">Swim</option>
        <option value="7">Walk</option>
        <option value="8">Other</option>
      </select>
      <label>
        Category
      </label>
    </div>
  </div>

  {{#if all}}
  <div class="hideCategory row" id="all">
    <div class="col s12">
      <div class="carousel">
        {{#each all}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if crossfit}}
  <div class="hideCategory row" id="crossfit">
    <div class="col s12">
      <div class="carousel">
        {{#each crossfit}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if hike}}
  <div class="hideCategory row" id="hike">
    <div class="col s12">
      <div class="carousel">
        {{#each hike}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if ride}}
  <div class="hideCategory row" id="ride">
    <div class="col s12">
      <div class="carousel">
        {{#each ride}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if run}}
  <div class="hideCategory row" id="run">
    <div class="col s12">
      <div class="carousel">
        {{#each run}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if swim}}
  <div class="hideCategory row" id="swim">
    <div class="col s12">
      <div class="carousel">
        {{#each swim}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if walk}}
  <div class="hideCategory row" id="walk">
    <div class="col s12">
      <div class="carousel">
        {{#each walk}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if other}}
  <div class="hideCategory row" id="other">
    <div class="col s12">
      <div class="carousel">
        {{#each other}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}
</main>