<header>
  <nav>
    <div class="nav-wrapper" style="background-color: whitesmoke; padding-right: 12em">
      <a href="/homepage" class="brand-logo" style='color: rgb(33, 83, 116); font-size: 2.6em; padding-left: 4.3em'>Ascent</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/homepage" style='color: rgb(33, 83, 116)'>Home</a></li>
        <li><a href="/log" style='color: rgb(33, 83, 116)'>Log a Workout</a></li>
        <li><a href="/view" style='color: rgb(33, 83, 116)'>View Workouts</a></li>
        <li><a href="/sync" style='color: rgb(33, 83, 116)'>Sync</a></li>
      </ul>
    </div>
  </nav>
</header>

<main class="container">
  {{#if all}}
  <div class="hideCategory row" id="all">
    <div class="col s12">
      <div class="carousel">
        {{#each all}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if crossfit}}
  <div class="hideCategory row" id="crossfit">
    <div class="col s12">
      <div class="carousel">
        {{#each crossfit}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if hike}}
  <div class="hideCategory row" id="hike">
    <div class="col s12">
      <div class="carousel">
        {{#each hike}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if ride}}
  <div class="hideCategory row" id="ride">
    <div class="col s12">
      <div class="carousel">
        {{#each ride}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if run}}
  <div class="hideCategory row" id="run">
    <div class="col s12">
      <div class="carousel">
        {{#each run}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if swim}}
  <div class="hideCategory row" id="swim">
    <div class="col s12">
      <div class="carousel">
        {{#each swim}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if walk}}
  <div class="hideCategory row" id="walk">
    <div class="col s12">
      <div class="carousel">
        {{#each walk}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  {{#if other}}
  <div class="hideCategory row" id="other">
    <div class="col s12">
      <div class="carousel">
        {{#each other}}
        {{>list/list}}
        {{/each}}
      </div>
    </div>
  </div>
  {{/if}}

  <div class="row">
    <div class="input-field col s3">
      <select id="categorySelect">
        <option value="1"><span>All</span></option>
        <option value="2"><span>Crossfit</span></option>
        <option value="3"><span>Hike</span></option>
        <option value="4"><span>Ride</span></option>
        <option value="5"><span>Run</span></option>
        <option value="6"><span>Swim</span></option>
        <option value="7"><span>Walk</span></option>
        <option value="8"><span>Other</span></option>
      </select>
      <label>
        Category
      </label>
    </div>
  </div>

</main>