.ct-series-a .ct-area{
    fill: rgb(45, 166, 179);
}

.ct-series-a .ct-line{
    stroke: rgb(45, 166, 179);
}

.ct-series-b .ct-area{
    fill: rgb(33, 83, 166);
}

.ct-series-b .ct-line{
    stroke: rgb(33, 83, 166);
}